.posts{
    display: flex;
    flex:5;
    background-color: white;

    justify-content: center;
    align-self: center;

    
    
}

p{  padding: 10px;
    text-align: center;
    color: #002650;
    font-size: large;
    
}

.postsContent{
    background-color: darkgoldenrod;
   
    width: 100px;

    

}